language: java

matrix:
  allow_failures:
    - env: JDK='11'
  include:
    - env: JDK='8'
      jdk: oraclejdk8
      install: echo "The default Travis install script is being skipped!"
    - env: JDK='11'
      install: . ./install-jdk.sh -F 11 -L GPL

# see https://github.com/travis-ci/travis-ci/issues/8408
before_install:
- unset _JAVA_OPTIONS
- wget https://raw.githubusercontent.com/sormuras/bach/fd1614bccf35bb6c4b035fe10174f74cea7c0188/install-jdk.sh

# use travis-ci docker based infrastructure
sudo: false

cache:
  directories:
    - $HOME/.m2

script:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
- mvn test -B
